.Button {
  /* background-color: rgb(236, 236, 236); */
  background-color: rgb(194, 237, 171);
  color: black;
  cursor: pointer;
  border: none;
  border-radius: 100px;
  padding: 10px 10px;
  font-size: 17px;
  white-space: nowrap;
}

.Button_POSITIVE {
  /* background-color: rgb(150, 190, 232); */
  background-color: black;
  color: white;
}

.Button_NEGATIVE {
  background-color: rgb(253, 86, 95);
  color: white;
}
